# binarios de los ejemplos
ejemplos/hola
ejemplos/texto
ejemplos/inventario

# C generado por el compilador
ejemplos/*.c

# Python
__pycache__/
*.pyc

# ejemplo de varios modulos
ejemplos/informe/informe
ejemplos/informe/*.c
